.label {
  height: 30px;
  width: 172px;
}

.label .text-wrapper {
  color: #414141;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 0;
  white-space: nowrap;
}
